venv
__pycache__
.ipynb_checkpoints
data/
.Trash-0
.vscode
tools
reference
runner
_playgrounds
src/_test
.tmp
*.log
data
.DS_Store
*.out
*.stat

_debugging
outputs/EuRoC/*
outputs/KITTI/*
!outputs/KITTI/errors
outputs/UAV/*
src/visual_odometry/models
outputs/vo_experiments
outputs/vo_estimates/vo_debug/*
outputs/experiments/*